body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: black;
}

header {
    background-color: rgba(208, 12, 12, 0.513);
    display: block;
    justify-content: space-between;
    padding: 20px;
    height: 90px;
    width: 100%;
    position: fixed;
}


header ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

header ul li {
    margin-right: 20px;
}

header ul li:hover {
    font-size: 20px;    
}

header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header img {
    padding: 5px;
}


#logo-engrane {
    height: 40px;
}

#logo-nombre {
    height: 40px;
}

.about-us {
    background-image: url("/indexResources/fondo-quesillo.jpg") ;
    background-size: cover;
    background-attachment: fixed;
    
}

#team-photo {
    margin-top: 12px;
    margin-left: 17.5px;
    height: 375px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#team-photo:hover {
    height: 390px;
    margin-left: 8px;

}

.team-photo-container {
    background-color: rgba(254, 0, 0, 0.61);    
    border-radius: 10px;
    display: inline-block;
    width: 600px;
    margin-left: 100px;

}

.about-us-text {
    width: 550px;
    margin-left: 20px;
}
.about-us-text p {
    color: rgb(0, 0, 0);
}

.about-first {
    background-color: black;
}

